<div class="wrapper fadeInDown">
  <h2>Login</h2>
  <div id="formContent">
    <!-- Login Form -->
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" ngModel>
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password" ngModel>
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>
    
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">S'inscrire ?</a>
    </div>
    
  </div>
</div>