<div class="card bg-dark my-5 wrapper fadeInDown">
  <div class="card-body" style="text-align: center;color:white;">
    <h1>Randonnées</h1>
    <table class="table table-striped table-dark">
      <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Organisateur</th>
          <th scope="col">Description</th>
          <th scope="col">Date</th>
          <th scope="col">Durée</th>
          <th scope="col">Point de départ</th>
          <th scope="col">Distance</th>
          <th scope="col">Dénivelé</th>
          <th scope="col">Niveau</th>
          <th scope="col">Coût fixe</th>
          <th scope="col">Coût variable</th>
          <th scope="col">Coût consolidé</th>
          <th scope="col">Vote</th>
          <th scope="col">Inscription</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let rando of this.randonnees">
          <th scope="row">1</th>
          <td>Mark</td>
          <td>On va marcher</td>
          <td>10-07-19</td>
          <td>3h</td>
          <td>Blagnac</td>
          <td>18km</td>
          <td>300m</td>
          <td>5</td>
          <td>25 €</td>
          <td>5 €</td>
          <td>30 €</td>
          <td><button class="btn btn-outline-secondary">Voter</button></td>
          <td><button class="btn btn-outline-secondary">S'inscrire</button></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Rando tranquille</td>
          <td>14-07-19</td>
          <td>1h30</td>
          <td>Deyme</td>
          <td>7km</td>
          <td>150m</td>
          <td>3</td>
          <td>25 €</td>
          <td>2 €</td>
          <td>27 €</td>
          <td><button class="btn btn-outline-secondary">Voter</button></td>
          <td><button class="btn btn-outline-secondary">S'inscrire</button></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>Génial</td>
          <td>19-07-19</td>
          <td>45mn</td>
          <td>UPS</td>
          <td>4km</td>
          <td>20m</td>
          <td>1</td>
          <td>15 €</td>
          <td>0 €</td>
          <td>15 €</td>
          <td><button class="btn btn-outline-secondary" ng-click="voter()">Voter</button></td>
          <td><button class="btn btn-outline-secondary">S'inscrire</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>